[data-flume-component="stage"] {
  background: #faf0ea;
  font-family: Rubik;
}
[data-flume-component="stage"]::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  /* z-index: 1; */
  background-size: 40px 40px;
  background-image: repeating-linear-gradient(
      150deg,
      #e4d5ce,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(30deg, #e4d5ce, transparent 1px, transparent 40px);
  background-size: 81px 46px;
}
[data-flume-component="node"] {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
[data-flume-component="node-header"] {
  background: white;
  border: none;
}
[data-flume-component="node-header"]::after {
  content: "";
  display: block;
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url("https://localhost:3000/module.png");
  background-position: center;
  background-size: 150px 150px;
  top: -110px;
  left: 50px;
}
[class*="Select_"] {
  background: white;
}

[data-flume-component="toast"] {
  box-shadow: none;
}
[data-flume-component="text-input-textarea"] {
  background: white;
  font-size: 24px;
}
